---
import { site } from "@/sitedata/site";
import { hero } from "@/sitedata/sections";
import Container from "@/components/common/Container.astro";
import Button from "@/components/ui/Button.astro";
---

<section
    class="relative min-h-[55vh] flex flex-col justify-center px-12 py-24 overflow-hidden border-b border-outline-variant/10"
>
    <!-- background image with constrained proportions -->
    <div class="absolute inset-0 z-0 opacity-30">
        <div
            class="w-full h-full bg-cover bg-center transition-all duration-1000"
            style={`background-image: url('${hero.image}');`}
        >
        </div>

        <!-- Gradient overlay to soften edges and match background -->
        <!-- <div
            class="absolute inset-0 bg-linear-to-b from-surface/10 via-transparent to-surface/10"
        >
        </div> -->
    </div>

    <Container
        class="relative z-10 w-full grid grid-cols-1 md:grid-cols-12 gap-8 items-end"
    >
        <div class="md:col-span-8">
            <span
                class="font-label text-xs tracking-[0.4em] uppercase text-primary mb-6.5 block"
            >
                {site.tagline}
            </span>
            <h1
                class="font-headline text-7xl md:text-9xl leading-[0.85] tracking-tighter font-bold text-on-surface mix-blend-difference uppercase"
            >
                {hero.title}
            </h1>
        </div>

        <div class="md:col-span-4 pb-4">
            <p
                class="font-label text-[10px] tracking-widest text-secondary uppercase leading-relaxed max-w-xs mb-8"
            >
                {site.description}
            </p>

            <div class="flex gap-4">
                <Button class="btn-primary text-[10px] uppercase">
                    {hero.primaryAction}
                </Button>
                <Button class="btn-outline text-[10px] uppercase">
                    {hero.secondaryAction}
                </Button>
            </div>
        </div>
    </Container>
</section>
